/* body {
  background-image: url(./photos/il_1140xN.2433533679_f94m.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
body {
    background-image: url(./photos/il_1140xN.2433533679_f94m.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 4px #222222;
  }
  


